- var l = '#171;';
- var r = '#187;';

.main__content-block_content
    h2 Больше чем дерби 
    p Исторический термин &#{l}Эль Классико&#{r} (&#{l}классический&#{r}) в чемпионате Испании использовался для обозначения матчей между клубами, которые встречались между собой наибольшее кол-во раз, иными словами, между клубами, которые никогда не покидали Примеру. Таких клубов в чемпионате трое - это &#{l}Реал Мадрид&#{r}, &#{l}Барселона&#{r} и &#{l}Атлетик&#{r} Бильбао.
    p Но в последние десятилетия матчи между &#{l}Реал Мадридом&#{r} и &#{l}Барселоной&#{r} вышли за рамки исключительно испанского чемпионата, они обрели мировое значение. 
    p Это матчи между двумя лучшими клбами мира. В каком бы турнире они не проводились, они привлекают внимание всего мира. И термин &#{l}Эль Классико&#{r} теперь ассоцицируется исключительно с этим противостоянием. 
    p &#{l}Эль Классико&#{r} - Это матч между &#{l}Реал Мадридом&#{r} и &#{l}Барселоной&#{r}