- var l = '#171;';
- var r = '#187;';

.main__content-block_info-map
    .card
        .card_block_h
            h2 Тина Канделаки: Рейтинг классико не сравнить с &#{l}Зенит&#{r} - &#{l}Спартак&#{r}.
        .card_block_p
            p - Все регулирует договор. В том числе по зарубежным чемпионатам. Есть распределение между тематическими и федеральными каналами. Оно, естественно, идет в пользу топовых игр.
            p Хотя наш чемпионат зрители смотрят с гораздо большим интересом, чем любой западный. Это к слову об испанской Примере. Рейтинг эль-классико не идет ни в какое сравнение с матчем &#{l}Зенит&#{r}-&#{l}Спартак&#{r}.
    .card
        .card_block_h
            h2 Тина Канделаки: Рейтинг классико не сравнить с &#{l}Зенит&#{r} - &#{l}Спартак&#{r}.
        .card_block_p
            p - Все регулирует договор. В том числе по зарубежным чемпионатам. Есть распределение между тематическими и федеральными каналами. Оно, естественно, идет в пользу топовых игр.
            p Хотя наш чемпионат зрители смотрят с гораздо большим интересом, чем любой западный. Это к слову об испанской Примере. Рейтинг эль-классико не идет ни в какое сравнение с матчем &#{l}Зенит&#{r}-&#{l}Спартак&#{r}.
    .card
        .card_block_h
            h2 Тина Канделаки: Рейтинг классико не сравнить с &#{l}Зенит&#{r} - &#{l}Спартак&#{r}.
        .card_block_p
            p - Все регулирует договор. В том числе по зарубежным чемпионатам. Есть распределение между тематическими и федеральными каналами. Оно, естественно, идет в пользу топовых игр.
            p Хотя наш чемпионат зрители смотрят с гораздо большим интересом, чем любой западный. Это к слову об испанской Примере. Рейтинг эль-классико не идет ни в какое сравнение с матчем &#{l}Зенит&#{r}-&#{l}Спартак&#{r}.
    



